:root {
    --bg-color: #f6f8ffcc;
    --stat-bg-color: #e9ebf5;
    --profile-bg: #fff;
    --btn-color: #0079ff;
    --text-color-1: #4b7a9b;
    --text-color-2: #697c9a;
    --bold-text-color: #2b3442;
    --shadow: #4660bb32;
}

:root .dark {
    --bg-color: #141d2f;
    --profile-bg: #1e2a47;
    --text-color-1: #fff;
    --text-color-2: #fff;
    --bold-text-color: #fff;
    --shadow: #141d2f;
}
